

.body {
	min-width: 1190px;
}

.wrapper {
	min-height: 100%;
	display:flex;
	flex-direction: column;
}


.header__drop-down-menu ul li a {
	display: inline-block;
	color: #fff;
	background: #ba0000;
	width: 130px;
	font-size: 14px;
	line-height: 50px;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	z-index: 2;
}

.header__drop-down-menu ul li a:hover {
	background: #c32;
}
.header__drop-down-menu ul li {
	position: relative;
}
.header__drop-down-menu ul li ul {
	display: none;
}
.header__drop-down-menu ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
}
.header__drop-down-menu li:hover ul {
	display: block;
}


.header {
	background: #ba0000;
	height: 50px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.header__row {
	display: flex;
}
.header__language {
	flex: 0 0 auto;
}
.header__space {
	flex: 1 1 auto;
}
.other {}
.header__fa-users {
	flex: 0 0 auto;
	line-height: 50px;
	padding-right: 8px;
}
.header__contact {
	flex: 0 0 auto;
	padding: 0 30px 0 0;
}
.header__contact-link {
	font-size: 14px;
	line-height: 50px;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	display: block;
	padding: 0 3px;
}
.header__contact-link:hover {
	background: #c32;
}
.header__country {
	flex: 0 0 auto;
	font-size: 14px;
	line-height: 50px;
	font-weight: 400;
	letter-spacing: 0.03em;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #fff;

}
.content {
	flex: 1 1 auto;
}


.nav {
	background: #ffcc00;


}
.nav__body {
	height: 120px;
	display: flex;

}
.nav__logo {
	flex: 0 0 134px;
	display: flex;
	align-items: center;
}
.nav__list {
	padding: 0 208px 0 124px;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;

}
.nav__list li a {
	display: block;
	font-size: 14px;
	line-height: 116px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #ba0000;
	font-family: 'Poppins', sans-serif;
}
.nav__list li a:hover {
	font-weight: 800;
	border-bottom: 4px solid #ba0000;

}
.nav__search {
	position: relative;
	flex: 0 0 50px;
	display: flex;
	align-items: center;
	
}

.nav__search-button {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #ba0000;
	border-radius: 50px;
	box-shadow: 0px 10px 18px 0px rgba(186,0,0,0.4);
	transition-property: all;
	transition-duration: 0.3s;
	overflow: hidden;
	

}



.active {
	width: 240px;
	transform: translate(-190px, 0);
}

.nav__search-icon {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: #ba0000;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1;
}

.nav__search-icon::before {
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	border: 2px solid #fff;
	border-radius: 100%;
	transform: translate(-2px, -2px);
}

.nav__search-icon::after {
	position: absolute;
	content: '';
	height: 9px;
	border: 1px solid #fff;
	transform: translate(5px, 5px) rotate(-45deg);
}

.nav__input {
	position: relative;
	left: 50px;
	height: 50px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__input input {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #ba0000;
	color: #fff;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav__input input::-moz-placeholder {
	color: #7b7b7b;
}

.nav__input input::-webkit-input-placeholder {
	color: #7b7b7b;
}
.nav__search-clear {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: -1;
	transform: translateY(-50%);
}

.nav__search-clear::before {
	position: absolute;
	content: '';
	width: 2px;
	height: 15px;
	background-color: #7b7b7b;
	transform: rotate(45deg);
}

.nav__search-clear::after {
	position: absolute;
	content: '';
	width: 2px;
	height: 15px;
	background-color: #7b7b7b;
	transform: rotate(-45deg);
}

.deliver {
	background: url('../images/deliver/gradient.png') no-repeat center center,
	url('../images/deliver/car.png') no-repeat center center;
	height: 800px;

}
.deliver__body {
	display: flex;
	flex-direction: column;

}
.deliver__title {
	width: 440px;
	color: #fff;
	font-size: 70px;
	line-height: 80px;
	font-weight: 800;
	letter-spacing: 0.03em;
	font-family: 'Poppins', sans-serif;
	margin-top: 179px;
}
.deliver__border {
	margin-top: 40px;
	width: 100px;
	height: 4px;
	background: #ffcc00;

}
.deliver__text {
	margin-top: 40px;
	width: 750px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #ffcc00;
	font-family: 'Poppins', sans-serif;
}
.deliver__amazing-body {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 455px;
}
.deliver__amazing {
	font-size: 20px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Poppins', sans-serif;

}
.deliver__dot {
	color: #ffcc00;
	font-size: 20px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.deliver__quick {
	font-size: 20px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
.deliver__24 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
.deliver__buttons {
	margin-top: 40px;
	display: flex;
	text-align: center;
}
.deliver__button-left {
	display: block;
	width: 150px;
	height: 50px;
	box-shadow: 0px 10px 18px 0px rgba(255,204,0,0.4);
	border-radius: 25px;
	color: #ba0000;
	background: #ffcc00;
	font-size: 12px;
	line-height: 50px;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-family: 'Poppins', sans-serif;
}
.deliver__button-right {
	margin-left: 20px;
	display: block;
	width: 192px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 25px;
	color: #fff;
	font-size: 12px;
	line-height: 50px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: 'Poppins', sans-serif;
}


.awesome {}
.awesome__body {}
.awesome__title {
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	line-height: 50px;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #ba0000;
	margin-top: 134px;

}
.awesome__blocks {
	margin-top: 115px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
}
.awesome__block {
	width: 270px;
}
.awesome__block-title {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 80px;
	font-weight: 600;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ba0000;
}
.awesome__block-text {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.03em;
	color: #777777;
}
.awesome__block-link {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #222222;
}

.awesome__dhi {
	background: #ba0000;
	height: 350px;
	padding: 30px;
	width: 270px;


}
.awesome__dhi-title {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #fff;
}
.awesome__dhi-border {
	width: 70px;
	height: 2px;
	background: #ffcc00;
	margin-top: 30px;
}
.awesome__dhi-text {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #fff;
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;

}

.awesome__location {}

.awesome__dropdown {
	position: relative;
	margin-top: 39px;
}

.awesome__selector {
	position: relative;
	padding: 19px 50px 19px 21px;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	color: #fff;
	background-color: #9d0000;
	transition-duration: 0.15s;
	cursor: pointer;
}

.awesome__selector:hover {
	background-color: #c32;
}

.awesome__yellow-square {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: #ffcc00;
	pointer-events: none;
	z-index: 1;

}

.awesome__yellow-square::before {
	content: '';
	position: absolute;
	top: 45%;
	right: 23px;
	pointer-events: none;
	width: 1px;
	height: 8px;
	background-color: #ba0000;
	border: 1px solid #ba0000;
	transform: translate(2.3px, 0) rotate(45deg) ;
}

.awesome__yellow-square::after {
	content: '';
	position: absolute;
	top: 45%;
	right: 23px;
	pointer-events: none;
	width: 1px;
	height: 8px;
	background-color: #ba0000;
	border: 1px solid #ba0000;
	transform:translate(-2.3px, 0) rotate(-45deg) ;
}



.awesome__dropdown-list {
	position: absolute;
	width: 160px;
	z-index: 2;

	display: none;
	
	
}

.awesome__dropdown-list-active {
	display: block;
}

.awesome__dropdown-list-item {
	padding: 19px 50px 19px 21px;
	line-height: 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	color: #fff;
	background-color: #9d0000;
	transition-duration: 0.15s;
	cursor: pointer;
}

.awesome__dropdown-list-item:hover {
	background-color: #c32;
}

.awesome__selector-button {
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	color: #ba0000;
	width: 150px;
	height: 50px;
	background: #ffcc00;
	box-shadow: 0px 10px 18px 0px rgba(255,204,0,0.4);
	border-radius: 25px;
	margin-top: 20px;

}
.plane__wrapper {
	height: 695px;
	background-image: url('../images/plane_and_vans/layer_6_168.png');

}
.plane {
	height: 695px;
	background-image: linear-gradient(0.0deg, rgba(255,204,0,0.5) 0%, rgba(0, 0, 0, 0.75) 100%); 
}


.plane__body {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
}
.plane__title {
	margin-bottom: 50px;
	font-family: 'Poppins', sans-serif;
	font-size: 47px;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #fff;
	text-align: justify;
}
.plane__button-block {
	display: flex;
	justify-content: center;
	height: 70px;
	margin-bottom: 178px;
}

.plane__button {
	position: relative;
	width: 70px;
	height: 70px;
	background-color: #ffcc00;
	border-radius: 100%;
	box-shadow: 0px 10px 18px 0px rgba(255,204,0,0.4);;
}

.plane__button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-color: #ba0000 transparent transparent transparent;
	border-width: 15px 9px 0 9px;
	transform: translate(-40%, -40%) rotate(-90deg);
	
}

.plane__images {
	display: flex;
	justify-content: space-between;
}
.plane__image {
}

.footer {
	height: 311px;
}
.footer__row {
	display: flex;
}
.footer__space-left {
	width: 40px;
	background: #ba0000;
}
.footer__image-left {


}
.footer__body {
	display: flex;
	flex: 1 1 auto;
	padding-top: 60px;
}
.footer__contact-centre {
	width: 33.333%;
	padding-left: 60px;
}
.footer__title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.003em;
	font-family: 'Poppins', sans-serif;
	color: #ba0000;
	margin-bottom: 40px;
}
.fa-caret-right {
	color: #ba0000;
}
.footer__list li:first-child a {
	color: #ffcc00;

}

.footer__list li a {
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #777777; 
	font-family: 'Poppins', sans-serif;
}
.footer__about-us {
	width: 33.333%;
	padding-left: 85px;

}
.footer__social-media {
	width: 33.333%;
	padding-left: 50px;
}
.footer__social-media .footer__list li:first-child a {
	color: #017edf;
}
.footer__image-right {

}
.footer__space-right {
	width: 40px;
	background: #ffcc00;
}